<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.colorone.system.mapper.BaseMenuMapper">


    <select id="selectMenuListByRoles" resultType="com.colorone.system.domain.entity.BaseMenu">
        select bm.menu_id,bm.menu_name,bm.parent_id,bm.order_num,bm.icon,
             bm.menu_type, bm.path, bm.component
        from base_menu bm
        left join base_role_menu brm on bm.menu_id = brm.menu_id
        left join base_user_role bur on brm.role_id = bur.role_id
        where bm.del_flag = 0 and brm.del_flag = 0 and bur.del_flag = 0 and bm.status = 0
        and brm.role_id in
        <foreach item="role" collection="array" separator="," open="(" close=")" index="">
            #{role}
        </foreach>
        order by bm.order_num
    </select>
</mapper>