<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.colorone.system.mapper.BaseDictMapper">


    <select id="selectComDictByType" resultType="com.colorone.system.domain.LabelItem">
        select dict_label label,
               dict_value value,
               style
        from base_dict
        where del_flag = 0
          and dict_type = #{type}
          and parent_id is not null
        order by dict_sort
    </select>

    <select id="selectDictList" resultType="com.colorone.system.domain.entity.BaseDict">
        select d.*,db.dict_label status_name
        from base_dict d
        left join base_dict db on db.dict_value = CONVERT(d.status,char ) and db.dict_type='base_status'
        where d.del_flag = 0
        <if test="dictLabel != null  and dictLabel != ''">
            and d.dict_label like CONCAT('%', #{dictLabel}, '%')
        </if>
        <if test="dictType != null  and dictType != ''">
            and d.dict_type = #{dictType}
        </if>
        <if test="parentId == null or parentId == ''">
            and d.parent_id is null
        </if>
        <if test="params != null and params.startTime != null ">
            and d.create_time > FROM_UNIXTIME(#{params.startTime}/1000)
        </if>
        <if test="params != null and params.endTime != null">
            and d.create_time <![CDATA[<=]]> adddate(FROM_UNIXTIME(#{params.endTime}/1000),1)
        </if>
        order by d.create_time desc
    </select>

    <select id="selectBaseDictChildren" resultType="com.colorone.system.domain.entity.BaseDict">
        select d.*, db.dict_label status_name
        from base_dict d
                 left join base_dict db on db.dict_value = CONVERT(d.status, char) and db.dict_type = 'base_status'
        where d.del_flag = 0
          and d.parent_id = #{dictId}
    </select>

    <select id="selectDictChildrenList" resultType="com.colorone.system.domain.entity.BaseDict">
        select d.*, db.dict_label status_name
        from base_dict d
        left join base_dict db on db.dict_value = CONVERT(d.status, char) and db.dict_type = 'base_status'
        where d.del_flag = 0
        and d.parent_id in
        <foreach item="dicts" collection="list" separator="," open="(" close=")" index="">
            #{dicts.dictId}
        </foreach>
        order by dict_sort
    </select>

    <delete id="deleteChildrenById">
        update base_dict
        set del_flag   = 1,
            update_time=sysdate()
        where parent_id = #{parentId}
    </delete>
</mapper>