<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.colorone.system.mapper.BaseDeptMapper">

    <select id="selectDeptList" resultType="com.colorone.system.domain.entity.BaseDept">
        select bd.* ,db.dict_label status_name
        from base_dept bd
        left join base_dict db on db.dict_value = CONVERT(bd.status,char ) and db.dict_type='base_status'
        where bd.del_flag = 0
        <if test="status != null">
            and bd.status = #{status}
        </if>
        <if test="deptName != null  and deptName != ''">
            and bd.dept_name like CONCAT('%', #{deptName}, '%')
        </if>
        order by bd.dept_sort
    </select>
</mapper>