<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.colorone.system.mapper.BaseMenuMapper">


    <select id="selectMenuListByRoles" resultType="com.colorone.system.domain.entity.BaseMenu">
        select bm.menu_id,bm.menu_name,bm.parent_id,bm.order_num,bm.icon,
            bm.menu_type, bm.path, bm.component,bm.visible
        from base_menu bm
            left join base_role_menu brm on bm.menu_id = brm.menu_id
        where bm.del_flag = 0 and brm.del_flag = 0
            and bm.status = 0
            and bm.menu_type <![CDATA[<>]]> 'b'
            and brm.role_id in
        <foreach item="role" collection="array" separator="," open="(" close=")" index="">
            #{role}
        </foreach>
        order by bm.order_num
    </select>

    <select id="selectAdminMenuList" resultType="com.colorone.system.domain.entity.BaseMenu">
        select bm.menu_id,bm.menu_name,bm.parent_id,bm.order_num,bm.icon,
            bm.menu_type, bm.path, bm.component,bm.visible
        from base_menu bm
        where bm.del_flag = 0
          and bm.status = 0 and bm.menu_type <![CDATA[<>]]> 'b'
        order by bm.order_num
    </select>

    <select id="selectMenuList" resultType="com.colorone.system.domain.entity.BaseMenu">
        select bm.*,db.dict_label status_name,mt.dict_label menu_type_name
        from base_menu bm
        left join base_dict db on db.dict_value = CONVERT(bm.status,char ) and db.dict_type='base_status'
        left join base_dict mt on mt.dict_value = bm.menu_type and mt.dict_type='base_menu_type'
        where bm.del_flag = 0
        <if test="status != null">
            and bm.status = #{status}
        </if>
        <if test="menuName != null  and menuName != ''">
            and bm.menu_name like CONCAT('%', #{menuName}, '%')
        </if>
        order by bm.order_num
    </select>

    <select id="selectMenuListLittle" resultType="java.util.Map">
        select bm.menu_id as 'key',CONCAT(bm.menu_name, ' # ', mt.dict_label) as label, bm.parent_id
        from base_menu bm
        left join base_dict mt on mt.dict_value = bm.menu_type and mt.dict_type='base_menu_type'
        where bm.del_flag = 0
        order by bm.order_num
    </select>
</mapper>