<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.colorone.system.mapper.BaseUserMapper">
    <select id="selectUserByUserName" resultType="com.colorone.system.domain.entity.BaseUser">
        select *
        from base_user
        where user_name = #{userName}
    </select>
</mapper>